@charset "utf-8";
 
main, header, footer, article {border:1px solid gray;
padding:5px}
main {
    max-width:600px;
}
table {
    width:100%;
    border-collapse: collapse;
}
 
table, td, th {
    border:1px solid gray;

}
th {
    background:gray;
}
